<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250364316517-g3jo2kp1o3u0e8ji4qm058ai31oc6ibu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250364316517-g3jo2kp1o3u0e8ji4qm058ai31oc6ibu</string>
	<key>API_KEY</key>
	<string>AIzaSyCD9uyA41fw-id7-GMkbbV2xveAUOXvdVI</string>
	<key>GCM_SENDER_ID</key>
	<string>250364316517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.contribution.ios</string>
	<key>PROJECT_ID</key>
	<string>vercel-practice-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>vercel-practice-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250364316517:ios:0709ab2136ea1977462f8c</string>
</dict>
</plist>